@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #0038A8;
    --color-primary-dark: #001642;
    --color-text-primary: #1E2024;
    --color-neutral-light: #F8F8FA;
    --color-neutral-gray: #B3B3B3;
    --color-secondary: #FFCC00;
    --color-paid: #DCFCE7;
    --color-paid-border: #B9F8CF;
    --color-paid-text: #008236;
    --color-pending: #FEF9C2;
    --color-pending-border: #FFF085;
    --color-pending-text: #A65F00;
    --color-overdue: #FFE2E2;
    --color-overdue-border: #FFC9C9;
    --color-overdue-text: #CE1126;
    --color-admin: #CE1126;
    --color-admin-dark: #680913;
}

@layer base {
    body {
        @apply font-sans text-text-primary bg-neutral-light;
    }

    h3 {
        @apply text-xs font-bold text-neutral-gray capitalize tracking-wider ;
    }
    .h3-admin{
        @apply text-xs font-bold text-neutral-400 uppercase tracking-wider mb-4;
    }
}

@layer components {

    .normal-btn {
        @apply w-full bg-primary text-white text-center p-2 rounded-lg hover:bg-primary-dark
        hover:shadow-xl  transition-all cursor-pointer;
    }

    .user-btn {
        @apply bg-linear-to-t from-primary to-primary-dark hover:bg-linear-to-t text-neutral-light px-6 py-3 rounded-[11.76px] font-semibold cursor-pointer
        hover:shadow-xl transition-all duration-300;
    }

    .admin-btn {
        @apply bg-linear-to-t from-[#CE1126] to-[#680913] text-white px-6 py-3 rounded-[11.76px] font-semibold cursor-pointer
        hover:shadow-xl transition-all duration-300;
    }

    .admin-add-btn{
        @apply flex items-center cursor-pointer px-6 py-1.5 rounded-lg bg-[#CE1126] hover:shadow-md text-white transition hover:bg-white hover:text-[#CE1126] hover:ring-1;
    }

    .next-btn {
        @apply bg-primary hover:bg-primary-dark text-white px-4 py-2 rounded-lg font-medium cursor-pointer hover:shadow-md transition;
    }

    .back-btn {
        @apply bg-white border border-gray-100 text-gray-400 px-4 py-2 rounded-lg font-medium cursor-pointer hover:shadow-md transition;
    }

    .table-btn {
        @apply bg-primary hover:bg-primary-dark text-white px-4 py-2 rounded-lg font-medium cursor-pointer hover:shadow-md transition;
    }

    .filter-btn {
        @apply flex items-center gap-2 px-3 py-1.5 border border-primary text-primary rounded-md hover:bg-primary hover:text-white transition-all duration-200 text-xs font-semibold h-fit leading-none;
    }

    .admin-filter-btn{
        @apply flex items-center gap-2 px-3 py-1.5 border border-admin text-admin rounded-md hover:bg-admin hover:text-white transition-all duration-200 text-xs font-semibold h-fit leading-none;
    }

    .payment-btn{
        @apply   bg-primary text-white px-6 py-1.5 rounded-lg font-medium cursor-pointer hover:shadow-md transition hover:bg-white hover:text-primary hover:ring-1;
    }

    .pagination-btn {
        @apply  bg-white text-primary px-6 py-1.5 rounded-lg font-medium cursor-pointer border border-primary hover:shadow-md transition hover:bg-primary hover:text-white hover:ring-1
    }

    .admin-pagination-btn {
        @apply  bg-white text-admin px-6 py-1.5 rounded-lg font-medium cursor-pointer border border-admin hover:shadow-md transition hover:bg-admin hover:text-white hover:ring-1
    }
    
    .cancel-btn{
        @apply block w-full appearance-none rounded-md text-[#364153] py-2 sm:text-sm hover:bg-[#F3F4F6] transition-all;
    }

    .transaction-counter {
        @apply font-medium text-gray-500;
    }

    .table-headers {
        @apply bg-gray-100 text-sm font-bold text-gray-700 text-center py-5 max-sm:text-[10px] py-0;
    }

    .table-rows {
        @apply px-6 py-4 border-b border-gray-300 text-sm text-gray-900 text-center max-sm:text-[10px];
    }

    .paid {
        @apply bg-paid border-paid-border text-paid-text px-2 py-1 rounded-lg font-medium;
    }

    .pending {
        @apply bg-pending border-pending-border text-pending-text px-2 py-1 rounded-lg font-medium;
    }

    .overdue {
        @apply bg-overdue border-overdue-border text-overdue-text px-2 py-1 rounded-lg font-medium;
    }

    .input-label {
        @apply block text-[18px] md:text-[24px] tracking-normal font-medium text-text-primary mb-2;
    }

    .input-field {
        @apply w-full text-[14px] md:text-[18px] border-4 border-[#F3F4F6] rounded-[23.50px] px-4 py-2 focus:outline-none focus:ring-4 focus:ring-primary
        focus:border-transparent;
    }

    .input-label-small {
        @apply block text-sm font-medium text-text-primary mb-2;
    }

    .input-field-small {
        @apply w-full text-sm border-2 border-[#F3F4F6] rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary
        focus:border-transparent;
    }

    .input-label-modal {
        @apply block text-sm font-medium text-gray-700 mb-1
    }

    .input-field-modal{
        @apply block w-full appearance-none rounded-md border border-gray-300 bg-gray-50 py-2 px-3 shadow-sm focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary sm:text-sm
    }
    .welcome-text {
        @apply text-[42px] md:text-[56px] tracking-[-0.5px] font-bold text-primary mb-2;
    }

    .welcome-description {
        @apply text-neutral-gray text-lg md:text-2xl mb-10;
    }

    .footer {
        @apply bg-linear-to-b from-primary to-primary-dark text-white flex flex-col justify-center items-center text-center py-6;
    }

    .admin-footer {
        @apply bg-linear-to-b from-[#CE1126] to-[#281011] text-white flex flex-col justify-center items-center text-center py-6;
    }

    .icons {
        @apply w-4 h-4 md:w-5 md:h-5;
    }

    .icons-container {
        @apply flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-primary-dark transition;
    }

    .iconsRed-container {
    @apply flex items-center gap-3 px-4 py-2 rounded-lg transition hover:bg-gradient-to-b hover:from-[#CE1126] hover:to-[#721014] hover:text-white;
    }

}
